{% extends "base.html" %}
{% block content %}


<div class="container">

    <div class="page-header">
        <h2>Edit mode for: {{ startlist_name }}</h2>
    </div>

    <div class="row">
        <div class="dataTable_wrapper">

            <form method="post" action="{{ url_for('startlist.startlist_one_edit_save') }}">


                <table id="table-edit" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>Runde</th>
                        <th>Start Position</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for id, last_name, first_name, start_round, start_position in data %}
                        <!--<input type="hidden" name="id" value="{{ id }}">-->
                        <tr>

                            <td>{{ last_name }}</td>
                            <td>{{ first_name }}</td>

                            <td>
                                <select name="round_{{ id }}" id="round_{{ id }}">
                                    {% for _ in range(rounds) %}
                                    {% if loop.index == start_round %}
                                    <option value="{{ loop.index }}" selected="selected">{{ loop.index }}</option>
                                    {% else %}
                                    <option value="{{ loop.index }}">{{ loop.index }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select name="position_{{ id }}" id="position_{{ id }}">
                                    {% for _ in range(line_count) %}
                                    {% if loop.index == start_position %}
                                    <option value="{{ loop.index }}" selected="selected">{{ loop.index }}</option>
                                    {% else %}
                                    <option value="{{ loop.index }}">{{ loop.index }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                </button>


            </form>
        </div>
    </div>
    <br/><br/>

</div>

{% endblock %}
