{% extends "base.html" %}
{% block content %}

<div class="container">

    <a href="{{ url_for('static', filename='download_folder/startlist_final.pdf') }}"> Startliste - PDF Version </a>
    <br>
    <br>
    <a href="{{ url_for('static', filename='download_folder/startlist_final.txt') }}"> Startliste - TXT Version </a>
    <br>
    <br>
    Bitte beachte:  Um sicherzustellen, dass du immer die nue generierte Rangliste vom Browser bekommst, mach "forced Refresh" dieser Seite.
    Beim Chrome und macOS: halte die CTRL Taste und klicke an Refresh.
</div>

{% endblock %}