{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <h3>Name: {{ name }}</h3>
        <h3>Current Round: {{ session['counter'] }} / {{ rounds_count }}</h3>
    </div>
    <div class="row">
        <p><b>Progress (in the whole startlist):</b></p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_now }}" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ progress_now }}%;">
                {{ progress_now }}%
            </div>
        </div>
    </div>

    <div class="row bottom-buffer-20">
        <a href="{{ url_for('startlist.wizard')}}">
            <button type="submit" class="btn btn-block btn-danger">
                <span class="glyphicon glyphicon glyphicon-import"></span>
                Load the latest captured times from Database
            </button>
        </a>
        <div class="panel">
        </div>
    </div>

    {% block message %}

    {% endblock %}

    <form method="POST" action="{{ url_for('startlist.next_round')}}">
        <div class="row">
            <div class="col-md-4">


                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Measured times</h3>
                    </div>
                    <div class="panel-body">


                        {% for random_t in random_times %}

                        <ul class="list-group">
                            <li class="list-group-item">

                                <!--<h3>Time {{ loop.index }}: <span class="label label-danger">{{ random_t }}</span></h3>-->
                                <div class="row">
                                    <div class="form-group form-group-lg">

                                        <label class="col-sm-6 control-label">
                                            <h4>Time {{ loop.index }}:</h4>
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" id="time_{{ loop.index }}"
                                                   name="time_{{ loop.index }}"
                                                   value="{{ random_t }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-lg">
                                        <label class="col-sm-6 control-label">
                                            <h4>Select line:</h4>
                                        </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="line_{{ loop.index }}"
                                                    id="line_{{ loop.index}}">
                                                {% for _ in random_times %}
                                                <option value="time_{{ loop.index }}">{{ loop.index }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="col-md-8">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Starting positions for each line</h3>
                    </div>
                    <div class="panel-body">

                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Start line</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for last_name, first_name, start_position, start_round, start_id in startlist
                                %}
                                <tr>
                                    <td>{{ start_position }}</td>
                                    <td>{{ last_name }}</td>
                                    <td>{{ first_name }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row bottom-buffer-50">

            <button type="submit" class="btn btn-block btn-success">
                <span class="glyphicon glyphicon glyphicon-floppy-save"></span>
                Save times and show the next round...
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
            <div class="panel">
            </div>
        </div>

    </form>

</div>

{% endblock %}

