<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ITP54 Web tools">
    <meta name="author" content="Frantisek Janus">
    <title>Tracktime</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pic/briefcase.png') }}" type="image/x-icon"/>

    {% include 'dependencies_css.html' %}

</head>
<body>
{% include 'dependencies_js.html' %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tracktime</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-dropdown">

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Participants <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('participants.add')}}">Add one</a></li>
                        <li><a href="{{ url_for('participants.mass_import')}}">Add many</a></li>
                        <li><a href=#>Delete one</a></li>
                        <li><a href="{{ url_for('participants.list')}}">List all</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('categories.add')}}">Add one</a></li>
                        <li><a href=#>Delete one</a></li>
                        <li><a href="{{ url_for('categories.list')}}">List all</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Startlist <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('startlist.create_startlist_category')}}">Create new - category</a></li>
                        <li><a href="{{ url_for('startlist.create_startlist_classification')}}">Create new - classification</a></li>
                        <li><a href="{{ url_for('startlist.startlist_menu')}}">List one</a></li>
                        <li><a href="{{ url_for('startlist.startlist')}}">List all</a></li>
                        <li><a href="{{ url_for('startlist.startlist_menu_edit')}}">Edit one</a></li>
                        <li><a href="{{ url_for('startlist.add_time')}}">Add Time to Runner</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Record Times <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('startlist.wizard_start')}}">Start</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Results <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('startlist.results')}}">List one</a></li>
                        <li><a href="{{ url_for('startlist.results_all')}}">List all</a></li>
                        <li><a href="{{ url_for('startlist.results_all_export_files')}}">List to Files</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Experimental <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('timedb.list')}}">List</a></li>
                        <li><a href="{{ url_for('participants.delete_admin')}}">Delete Zone</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>


{% block content %}
{% endblock %}


{% include 'dependencies_js.html' %}


</body>
</html>