{% extends "base.html" %}
{% block content %}

<div class="container">
    <div id="wrapper">
        <div class="jumbotron">
            <h1>TrackTime</h1>
            <p>Time, start list and results management specifically streamlined for UZE Sprinter event.</p>
            <p>Flask web application.</p>
            <p>Author: Frantisek Janus</p>
            <p>2018</p>
            <!--<p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a></p>-->
        </div>
    </div>
</div>
<!-- container-fluid -->

{% endblock %}