{% extends "participants/participants.html" %}
{% block signup %}

<div class="form-size">

    <div class="row">

        <div class="page-header">
            <h2>Mass Import
                <small> from a file.</small>
            </h2>
        </div>

        <div class="col-sm-8">
            {% block message %}
            {% endblock %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Choose a file on your system.
                </div>
                <div class="panel-body">

                    <h3>Mass Import Instructions</h3>
                    <ul>
                        <li>File must be in XLS or XLSX format</li>
                        <li>First line in the file is considered to be a column header and it's <b>not imported</b> but used for detection of following fields.</li>
                        <li>1. First Name, 2. Last Name, 3. Gender, 4. Year of birth</li>
                        <li>All other field in the XLS fields are not relevant and therefore ignored.</li>
                    </ul>

                    <h4>Example:</h4>

                    <img src="{{ url_for('static', filename='pic/mass_import_example.png') }}" class="img-responsive" alt="Cinque Terre">
                    <br><br>



                    <form method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="InputFile">Select file</label>
                            <input type="file" id="InputFile" name="InputFile" >
                            <p class="help-block">Supported formats: .xls, .xlsx, .csv</p>
                        </div>

                        <button type="submit" class="btn btn-success"><span class="fa fa-check"></span>
                            <span class="glyphicon glyphicon-open"></span> Upload
                        </button>
                        <a type="reset" class="btn btn-danger" href="{{ url_for('participants.mass_import') }}">
                            <span class="glyphicon glyphicon-erase"></span> Cancel</a>
                    </form>
                </div>
                <!-- panel body-->
            </div>
            <!-- panel -->
        </div>

    </div>
    <!-- row -->


</div>
<!-- form-size -->

{% endblock %}