{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="form-size">

        <div class="row">

            {% block message %}
            {% endblock %}

            <div class="page-header">
                <h2>Athlete edit</h2>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Select athlete to edit
                </div>
                <div class="panel-body">

                    <form method="post" action="{{ url_for('participants.show_one_selected') }}">

                        {% for participant_id, last_name, first_name, gender, year in data %}
                        <input type="radio" name="participant_select" id="{{ participant_id }}" value="{{ participant_id }}">
                        <label for="{{ participant_id }}">{{ last_name }} {{ first_name }} - {{ gender }} - {{ year }}</label><br>
                        {% endfor %}

                        <br>

                        <button type="submit" class="btn btn-success">
                            <span class="fa fa-check"></span>
                            Edit selected athlete
                        </button>
                    </form>
                </div>
                <!-- panel body-->
            </div>
            <!-- panel -->

        </div>
        <!-- row -->

    </div>
    <!-- form-size -->
</div>

{% endblock %}