{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="page-header">
        <h2>Registered participants <span class="label label-default">{{ registered_count }}</span></h2>
    </div>
    <div class="row">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-participants">
                <thead>
                <tr>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Geschlecht</th>
                    <th>Jahrgang</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item['last_name'] }}</td>
                    <td>{{ item['first_name'] }}</td>
                    {% if item['gender'] == "boy" %}
                        <td>Knabe</td>
                    {% elif item['gender'] == "girl" %}
                        <td>Mädchen</td>
                    {% else %}
                        {{ item['gender'] }}
                    {% endif %}
                    <td>{{ item['year'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.table wrapper -->

<script type=text/javascript src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#dataTables-participants').DataTable({
                "iDisplayLength": 50,
                responsive: true,
                "order": [[ 1, "asc" ]]
        });
    });
</script>


{% endblock %}


