{% extends "participants/participants.html" %}
{% block signup %}

<div class="form-size">

    <div class="row">

        <div class="page-header">
            <h2>Add new participant
                <small> 1 by 1</small>
            </h2>
        </div>

        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Enter participants details
                </div>
                <div class="panel-body">

                    {% from "participants/_formhelpers.html" import render_field %}
                    <form method="post">
                        {{ render_field(form.first_name) }}
                        {{ render_field(form.last_name) }}

                            <div class="form-group">
                                <label>
                                    <b>Gender</b>
                                </label>
                                <select class="form-control" name="gender" id="gender">
                                    <option value="boy" selected="selected">Knabe</option>
                                    <option value="girl">Mädchen</option>
                                </select>
                            </div>


                        {{ render_field(form.year) }}
                        <button type="submit" class="btn btn-success"><span class="fa fa-check"></span> Sign up</button>
                        <a type="reset" class="btn btn-danger" href="{{ url_for('participants.add') }}"><span
                                class="glyphicon glyphicon-erase"></span> Clear all</a>
                    </form>
                </div>
                <!-- panel body-->
            </div>
            <!-- panel -->
        </div>
    </div>
    <!-- row -->
    {% block success %}
    {% endblock %}

</div>
<!-- form-size -->

<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });



</script>

{% endblock %}