{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="page-header">
        <h2>Categories <span class="label label-default">{{ category_count }}</span></h2>
    </div>

    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-categories">
            <thead>
            <tr>
                <th>Category name</th>
                <th>Gender</th>
                <th>Start year</th>
                <th>End year</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item['category_name'] }}</td>
                {% if item['gender'] == "boy" %}
                        <td>Knaben</td>
                    {% elif item['gender'] == "girl" %}
                        <td>Mädchen</td>
                    {% else %}
                        {{ item['gender'] }}
                    {% endif %}
                <td>{{ item['year_start'] }}</td>
                <td>{{ item['year_end'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.table wrapper -->

<script type=text/javascript src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#dataTables-categories').DataTable({
                "iDisplayLength": 50,
                responsive: true,
                "order": [[ 2, "asc" ]]
        });
    });
</script>

{% endblock %}
